@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "â–²" */
.icon-down-dir::before { content: "\25bc"; } /* "â–¼" */
.icon-circle::before { content: "\25cb"; } /* "â—‹" */
.icon-circle-dot::before { content: "\25cf"; } /* "â—" */
.icon-check-off::before { content: "\2610"; } /* "â˜" */
.icon-check-on::before { content: "\2611"; } /* "â˜‘" */
.icon-instagramm::before { content: "ðŸ“·"; } /* "\1f4f7" */

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/robotomedium.woff") format("woff"),
         url("../fonts/robotomedium.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff") format("woff"),
         url("../fonts/robot.woff2") format("woff2");
}

body, html{
	margin: 0;
	padding: 0;
}
body {
    min-width: 900px;
    background-color:white;
    color: black;
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 22px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.main-header {
    min-height: 436px;
    background: #eee;
}
.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-menu {
    padding-top: 28px;
}
.main-menu-logo {
    float: left;
    margin-right: 161px;
}
.main-menu-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 580px;
    padding-top: 26px;
    margin-bottom: 33px;
}
.main-menu-menu li{
    display: block;
    float: left;
}
.main-menu-menu a {
    display: block;
    color: black;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 24px;
}
.main-menu-menu .main-card {
    float: right;
}
.main-card a {
    padding-right: 0;
}
.main-card .icon-basket {
    padding-right: 12px;
    color: #a6a6a6;
}
.main-menu-menu a:hover, .main-card:hover .icon-basket {
    color: #fb565a;
}
.main-menu-menu a:active, .main-card:active .icon-basket {
    color: #cbcbcb;
}
.slider {
    position: relative;
}
.slider-1, .slider-2, .slider-3 {
    position: absolute;
    width: 880px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slider img {
    display: block;
}
.slider h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: normal;
}
.slider a {
    display: inline-block;
    padding: 10px 10px;
}
.slider p {
    margin-bottom: 28px;
}
.slider-left {
    float: left;
    width: 481px;
    padding-top: 12px;
}
.slider-item .btn {
    width: 220px;
}

.slider-right {
    float: right;
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.btn-red {
    background: #fb565a;
}
.btn-red:hover {
    background-color: #d6494d;
}
.btn-red:active {
    background-color: #b63538;
    border-top: 3px solid #9b2d30;
    padding-top: 7px;
}
.btn-green {
    background: #00ca74;
}
.btn-green:hover {
    background-color: #01a25e;
}
.btn-green:active {
    background-color: #009053;
    border-top: 3px solid #007b47;
    padding-top: 7px;
}
.btn-yellow {
    background: #efc84a;
}
.btn-yellow:hover {
    background-color: #d6ae2c;
}
.btn-yellow:active {
    background-color: #c09b24;
    border-top: 3px solid #c2ad6a;
    padding-top: 7px;
}
.slider-show {
    z-index: 3;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.slider-1 .slider-right {
    padding-top: 20px;
}
.slider-2 .slider-right {
    padding-top: 25px;
    padding-right: 10px;
}
.slider-3 .slider-right {
    padding-right: 8px;
}
.slide-indicator {
    font-size: 0;
    position: absolute;
    left: 400px;
    top: 215px;
    z-index: 10;
}
.slide-indicator span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

span.slider-show::before {
    content: "";
    position: absolute;
    display: inline-block;
    width :6px;
    height: 6px;
    background-color: #c1c1c1;
    border-radius: 50%;
    left: 3px;
    top: 3px;
}

.slider-3.slider-show::after {
    left: 452px;
}
.slider-2.slider-show::after {
    left: 430px;
}
.slider-1.slider-show::after {
    left: 408px;
}
.service-block, .about{
    padding: 80px 0;
    border-bottom: 2px solid #f4f4f4;
}
.service-item {
    width: 240px;
    float: left;
    margin-right: 80px;
}
.service-item:last-child {
    margin-right: 0;
}
.service-item figure {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}
.service-item img {
    display: block;
    width: 240px;
    height: 124px;
}
.service-item h2 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.service-item p {
    margin: 0;
    margin-bottom: 25px;
}
.service-item .btn {
    width: 120px;
}
.about-block-left {
    float: left;
    width: 580px;
    margin-right: 20px;
    padding-right: 40px;
}
.about-block-right {
    float: right;
    width: 230px;
}
.about-block h2 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}
.about-block p {
    margin: 20px 0;
}
.about-block p:last-child {
    margin-bottom: 0;
}
.about-block h3 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
}
.about-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about-block li {
    padding-left: 37px;
    display: block;
    position: relative;
    margin-bottom: 23px;
}
.about-block li:last-child {
    margin-bottom: 0;
}
.about-block li::before {
    content: "";
    display: block;
    width: 27px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: 0;
    top: 10px;
}
.about-block figure {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 25px;
}
.about-block img {
    display: block;
    width: 188px;
    height: 77px;
}
.logo-sign {
    text-align: center;
}
.logo-sign span {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 15px;
    background: white;
    position: relative;
    z-index: 3;
}
.logo-sign::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 2px solid #eeeeee;
    top: -13px;
    z-index: 1;
}
