@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "â–²" */
.icon-down-dir::before { content: "\25bc"; } /* "â–¼" */
.icon-circle::before { content: "\25cb"; } /* "â—‹" */
.icon-circle-dot::before { content: "\25cf"; } /* "â—" */
.icon-check-off::before { content: "\2610"; } /* "â˜" */
.icon-check-on::before { content: "\2611"; } /* "â˜‘" */
.icon-instagramm::before { content: "ðŸ“·"; } /* "\1f4f7" */

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/robotomedium.woff") format("woff"),
         url("../fonts/robotomedium.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff") format("woff"),
         url("../fonts/robot.woff2") format("woff2");
}

body, html{
	margin: 0;
	padding: 0;
}
body {
    min-width: 900px;
    background-color:white;
    color: black;
    font-family: 'Roboto Medium', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 22px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.main-header {
    min-height: 436px;
    background: #eee;
}
.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-menu {
    padding-top: 28px;
}
.main-menu-logo {
    float: left;
    margin-right: 161px;
}
.main-menu-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 580px;
    padding-top: 26px;
    margin-bottom: 33px;
}
.main-menu-menu li{
    display: block;
    float: left;
}
.main-menu-menu a {
    display: block;
    color: black;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 24px;
    position: relative;
}
.main-menu-menu .select::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background: #f7898b;
    right: 24px;
    left: 24px;
    bottom: 0;
}
.main-card .select::before {
    right: 0;
}

.main-menu-menu .main-card {
    float: right;
}
.main-card a {
    padding-right: 0;
}
.main-card .icon-basket {
    padding-right: 12px;
    color: #a6a6a6;
}
.main-menu-menu a:hover, .main-card:hover .icon-basket {
    color: #fb565a;
}
.main-menu-menu a:active, .main-card:active .icon-basket {
    color: #cbcbcb;
}
.slider {
    position: relative;
}
.slider-1, .slider-2, .slider-3 {
    position: absolute;
    width: 880px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slider img {
    display: block;
}
.slider h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: normal;
}
.slider a {
    display: inline-block;
    padding: 10px 10px;
}
.slider p {
    margin-bottom: 28px;
}
.slider-left {
    float: left;
    width: 481px;
    padding-top: 12px;
}
.slider-item .btn {
    width: 220px;
}

.slider-right {
    float: right;
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn-red {
    background: #fb565a;
}
.btn-red:hover {
    background-color: #d6494d;
}
.btn-red:active {
    background-color: #b63538;
    border-top: 3px solid #9b2d30;
    padding-top: 7px;
}
.btn-green {
    background: #00ca74;
}
.btn-green:hover {
    background-color: #01a25e;
}
.btn-green:active {
    background-color: #009053;
    border-top: 3px solid #007b47;
    padding-top: 7px;
}
.btn-yellow {
    background: #efc84a;
}
.btn-yellow:hover {
    background-color: #d6ae2c;
}
.btn-yellow:active {
    background-color: #c09b24;
    border-top: 3px solid #c2ad6a;
    padding-top: 7px;
}

.btn-grey {
    background: #f1f1f1;
    color: black;
}
.btn-grey:hover {
    background-color: #e5e5e5;
}
.btn-grey:active {
    background-color: #d5d5d5;
    border-top: 3px solid #b5b5b5;
    padding-top: 7px;
}

.slider-show {
    z-index: 3;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.slider-1 .slider-right {
    padding-top: 20px;
}
.slider-2 .slider-right {
    padding-top: 25px;
    padding-right: 10px;
}
.slider-3 .slider-right {
    padding-right: 8px;
}
.slide-indicator {
    font-size: 0;
    position: absolute;
    left: 400px;
    top: 215px;
    z-index: 10;
}
.slide-indicator span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

span.slider-show::before {
    content: "";
    position: absolute;
    display: inline-block;
    width :6px;
    height: 6px;
    background-color: #c1c1c1;
    border-radius: 50%;
    left: 3px;
    top: 3px;
}

.slider-3.slider-show::after {
    left: 452px;
}
.slider-2.slider-show::after {
    left: 430px;
}
.slider-1.slider-show::after {
    left: 408px;
}
.service-block, .about{
    padding: 80px 0;
    border-bottom: 2px solid #f4f4f4;
}
.service-item {
    width: 240px;
    float: left;
    margin-right: 80px;
}
.service-item:last-child {
    margin-right: 0;
}
.service-item figure {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}
.service-item img {
    display: block;
    width: 240px;
    height: 124px;
}
.service-item h2 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.service-item p {
    margin: 0;
    margin-bottom: 25px;
}
.service-item .btn {
    width: 120px;
}
.about-block-left {
    float: left;
    width: 580px;
    margin-right: 20px;
    padding-right: 40px;
}
.about-block-right {
    float: right;
    width: 230px;
}
.about-block h2 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}
.about-block p {
    margin: 20px 0;
}
.about-block p:last-child {
    margin-bottom: 0;
}
.about-block h3 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
}
.about-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about-block li {
    padding-left: 37px;
    display: block;
    position: relative;
    margin-bottom: 23px;
}
.about-block li:last-child {
    margin-bottom: 0;
}
.about-block li::before {
    content: "";
    display: block;
    width: 27px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: 0;
    top: 10px;
}
.about-block figure {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 25px;
}
.about-block img {
    display: block;
    width: 188px;
    height: 77px;
}
.logo-sign {
    text-align: center;
}
.logo-sign span {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 15px;
    background: white;
    position: relative;
    z-index: 3;
}
.logo-sign::after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 2px solid #eeeeee;
    top: -13px;
    z-index: 1;
}

.portfolio {
    min-height: 168px;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 85px;
}
.portfolio-item {
    float: left;
    width: 230px;
    margin-right: 80px;
    padding-left: 10px;
    line-height: 168px;
}
.portfolio-item:last-child {
    margin-right: 0;
}
.portfolio-item img {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.2;
}
.portfolio-item:hover img, .portfolio-item:active img {
    opacity: 1;
}
.footer-map {
    min-height: 418px;
    border-top: 1px solid #fff; 
    background: #fff url('../img/map.jpg') no-repeat center -150px;
}
.contacts {
    width: 202px;
    background-color: #fff;
    padding-top: 1px;
    margin-top: 88px;
    padding: 27px 24px;
}
.contacts h2 {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 16px;
}
.contacts p {
    margin: 0;
    margin-bottom: 18px;
    color: #666666;
}
.contacts .btn {
    width: 180px;
}
.footer-map .container {
    position: relative;
}
.footer-map img {
    position: absolute;
    right: 38px;
    top: 25px;
    width: 231px;
    height: 190px;
    display: block;
}
.footer-social {
    padding-top: 77px;
    min-height: 139px;
}
.social-link {
    float: left;
}
.social-offer {
    float: left;
    margin-left: 55px;
}
.social-link a {
    position: relative;
    font-size: 23px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 63px;
    height: 63px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 25px;
}

.social-link a::before {
    position: absolute;
    top: 20px;
    left: 15px;
}
.social-link a:hover {
    background-color: #fb565a;
}
.social-link a:active {
    background-color: #d6494d;
    border-top: 3px solid #b74145;
    height: 60px;
}
.social-link a:active::before {
    top: 17px;
}
.social-offer h2 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 10px;
}
.social-offer p {
    margin: 0;
}
.contact-form {
    width: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 20;
    margin-left: -315px;
    margin-top: -230px;
    padding: 50px 80px;
    box-shadow: 0 20px 40px rgba(0,0 , 0, 0.75);
    display: none;
}
.contact-form.show {
    display: block;
}
.contact-form label {
    display: inline-block;
    margin-bottom: 20px;
}
.contact-form label:first-child {
    margin-right: 20px;
}

.contact-form span {
    display: block;
    margin-bottom: 10px;
}
.contact-form input {
    width: 188px;
    border: none;
    outline: none;
    border: 2px solid #e4e8e9;
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: black;
    padding: 7px 15px;
}
.contact-form textarea {
    width: 433px;
    height: 100px;
    border: none;
    outline: none;
    border: 2px solid #e4e8e9;
    border-radius: 3px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: black;
    padding: 10px 15px;
}
.contact-form button {
    display: block;
    width: 100%;
    margin-top: 18px;
}
.contact-form input:hover, .contact-form textarea:hover {
    border: 2px solid #c1c6c8;
}
.contact-form input:focus, .contact-form textarea:focus {
    border: 2px solid #8ed4fc;
}
.contact-form .close {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #fb565a;
    border-radius: 50%;
    right: 7px;
    top: 7px;
    cursor: pointer;
}
.contact-form .close::after, .contact-form .close::before {
    content: "";
    width: 26px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    top: 19px;
}
.contact-form .close::after {
    transform: rotate(45deg);
}
.contact-form .close::before {
    transform: rotate(-45deg);
}
.main-header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 52px;
    font-weight: normal;
    padding: 0 40px;
}
.main-header.shop-header {
    min-height: 326px;
}
.shop-content {
    padding: 79px 0;
}
.shop-content-left {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.filter-form fieldset{
    margin: 0;
    border: none;
    padding: 0;
    margin-bottom: 50px;
}
.filter-form legend {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 14px;
}
.price-spinner {
    height: 80px;
    background: #f1f1f1;
    border-radius: 3px;
    margin-bottom: 15px;
    position: relative;
}
.price-spinner span {
    display: inline-block;
    position: absolute;
}
.price-spinner .begin-line {
    width: 140px;
    height: 2px;
    background-color: #50d79e;
    left: 30px;
    top: 50%;
}
.price-spinner .end-line {
    width: 50px;
    height: 2px;
    background-color: #e0e3e4;
    right: 20px;
    top: 50%;
}
.price-spinner .begin-spin, .price-spinner .end-spin {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border-bottom: 2px solid #dcdcdc;
    top: 31px;
    left: 20px;
    cursor: pointer;
}

.price-spinner .begin-spin::before, .price-spinner .end-spin::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #b5b5b5;
    top: 8px;
    left: 8px;
}
.price-spinner .end-spin {
    left: 160px;
}
.price-input span {
    line-height: 22px;
    text-transform: uppercase;
    padding-right: 5px;
    color: #283136;
}
.price-input input {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 3px;
    width: 70px;
    padding: 8px 5px;
    text-align: center;
    line-height: 22px;
    color: #283136;
}
.price-input .price-from {
    margin-right: 18px;
}
.filter-net label, .filter-futures label {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 15px;
    color: #283136;
    cursor: pointer;
    padding-left: 35px;
    position: relative;
}
.filter-net label:hover, .filter-futures label:hover {
    color: #000;
}

.filter-net input, .filter-futures input {
    display: none;
}

.filter-net label:last-child, .filter-futures label:last-child {
    margin-bottom: 0;
}
.radio-indicator, .checkbox-indicator {
    font-family: "symbols-nerds";
    font-size: 28px;
    line-height: 20px;
    color: #c1c1c1;
}
.radio-indicator::before, .checkbox-indicator::before {
    position: absolute;
    left: 0;
    top: 5px;
}

.radio-indicator::before {
    content: '\25cb';
}
.checkbox-indicator::before {
    content: '\2610';
}
input:checked + label .radio-indicator::before {
    content: '\25cf';
}
input:checked + label .checkbox-indicator::before {
    content: '\2611';
}
label:hover .radio-indicator, label:hover .checkbox-indicator {
    color: #b5b5b5;
}

input:disabled + label, input:disabled + label:hover, input.disabled + label, input.disabled + label:hover {
    color: #cdcfd1;
    cursor: auto;
}

input:disabled + label .radio-indicator, input.disabled + label .radio-indicator, input:disabled + label .checkbox-indicator, input.disabled + label .checkbox-indicator {
    color: #c1c1c1;
    opacity: 0.3; 
}
.filter-form .btn {
    width: 160px;
}
.shop-content-right {
    width: 560px;
    float: left;
}
.shop-content-order {
    margin-bottom: 23px;
}
.order-header {
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    margin-right: 40px;
}
.order-item {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.3;
    margin-right: 38px;
    border-bottom: 1px dotted #00ca74;
}
.order-item:hover {
    opacity: 1;
    border-bottom: 1px solid #00ca74;
}
.order-item:active, .order-item.active {
    opacity: 1;
    border-bottom: none;
}
.order-direct-down, .order-direct-up {
    display: inline-block;
    font-family: "symbols-nerds"; 
    display: inline-block;
    font-size: 23px;
    line-height: 20px;
    color: #c1c1c1;
    text-decoration: none;
    padding-top: 4px;
}
.order-direct-down {
    margin-left: 58px;
    margin-right: 5px;
}
.order-direct-down.active, .order-direct-up.active {
    color: #00ca74;
}
.order-direct-down:hover, .order-direct-up:hover {
    color: #c1c1c1;
}
.order-direct-down:active, .order-direct-up:active {
    color: #000;
}
.product {
    position: relative;
    width: 240px;
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.product:nth-child(2n) {
    margin-right: 0;
}
.product img {
    display: block;
}
.product .browser {
    opacity: 0.1;
}
.product:hover .browser{
    opacity: 1;
}
.product-hover {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #000;
    top: 50px;
    left: 20px;
    display: none;
}
.product:hover .product-hover {
    display: block;
}
.product h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 15px;
}
.product h2.two-line {
    margin-bottom: 0;
}
.product p {
    margin: 0;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
}
.product h2.two-line + p {
  margin-bottom: 10px;   
}
.product .btn {
    width: 120px;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
}
.paginator ul {
    margin: 0;
    padding: 0;
    color: #000;
    list-style: none;
    font-size: 0;
}
.paginator li {
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
    margin-right: 13px;
}
.paginator span {
    display: block;
    padding: 8px 10px;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    min-width: 14px;
    text-align: center;
}
.paginator .btn {
    min-width: 18px;
}
.paginator .btn.next {
    min-width: 120px;
}





